*{
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
}
#marq{
    background-color:rgb(237, 241, 214);
}
#nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: rgb(237, 241, 214) ;
    padding: 20px;
    margin-top: -6px;

}

body{
    background-color: rgb(207, 15, 71);
}
.list{
    display: inline;
    margin: 0px  10px ;

}
.list a{
    text-decoration: none;
    color: black;
    font-size: medium;
    font-weight: 600px
    ;
}
.list a:hover{
    text-decoration: underline;
    color:orangered;
    transform: scale(1.1);
    }

#hub:hover{
    color: orangered;
    transform: scale(1.1);
}
.brand:hover{
    color: orangered;
    transform: scale(1.1);
}
.photo{
    background:url("https://crepdogcrew.com/cdn/shop/collections/Tab_Banners_1.png?v=1746988280&width=1400");
    height: 90vh;
    background-size: cover;

}
.row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap: 16px;
    padding: 16px;

}
.col{
     border: 2px solid #333;
     border-radius: 12px;
     padding: 16px;
     text-align: center;
     box-shadow: 0 4px 8px rgba(0,0,0,0.1);
     transition: transform 0.3s, box-shadow 0.3s;
     background: #f9f9f9;

     
}
.col:hover{
     transform: translateY(-4px);
  box-shadow: 0 8px 100px rgba(0,0,0,0.15);

}


#sho{
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration:underline;
}
#sho:hover{
      color: orangered;
    transform: scale(1.1);
}

}
.col h3{
    font-family:monospace;
    font-weight: bolder;
    font-size: 16px;
}
.col h4{
 font-family: initial;

}
#end{
    background-color: rgb(191, 195, 167);
}
.col5{
    padding: 16px;
}
.row5{
    display: flex;
    justify-content: space-around;
    
}
.col6{
    padding: 80px;
    margin-top: -55px;
    
}
.col6 h3{
    font-size: 30px;
}
.col7 p{
    font-size: 20px;
}
.col7{
    padding: 30px;
    margin-right: -50px;
    margin-top: 30px;
}